<!DOCTYPE html>
<html lang="en" ng-app="formApp">
<!-- This file is Copyright 2017 Roger Creasy roger@rogercreasy.com see details below -->
<head lang="en">
    <meta charset="UTF-8">
    <title>Marketing Research Tool</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
    <style>
        #marketing-form {
            background-color: #f9f5e7;
        }
    </style>

</head>
<body ng-controller="MainController">


<div class="container">
    <form id="marketing-form" name="marketingForm" class="css-form form-horizontal" role="form" ng-submit="submit()" novalidate>
        <p class="col-sm-3" ng-hide="status == 'success'"></p>
        <div class="jumbotron">
            <h3>Marketing research Tool</h3>
            <p>Be sure to allow pop-ups from this site!</p>
            <h5>Instructions - complete the form below, click submit, see results in the tabs that are opened.<br />
                Recommendation - Open this tool in a new browser. The tool will open 12 - 14 tabs.
            </h5>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="bizName">Business Name *</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="formData.bizName" ng-maxlength="50" name="bizName" required />
                <div ng-show="form.bizName.$dirty && form.bizName.$invalid">
                    <span class="help-block" ng-show="form.bizName.$error.required">The 'Business Name' field is required</span>
                    <span class="help-block" ng-show="form.bizName.$error.maxlength">Business Name must be under 50 characters.</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="keywords">Keywords *</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="formData.keywords" ng-maxlength="50" name="keywords" required />
                <div ng-show="form.keywords.$dirty && form.keywords.$invalid">
                    <span class="help-block" ng-show="form.keywords.$error.required">The 'Keywords field is required</span>
                    <span class="help-block" ng-show="form.keywords.$error.maxlength">Keywords must be under 50 characters.</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="relatedKeywords">Related Keywords *</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="formData.relatedKeywords" ng-maxlength="50" name="relatedKeywords" required />
                <div ng-show="form.relatedKeywords.$dirty && form.relatedKeywords.$invalid">
                    <span class="help-block" ng-show="form.relatedKeywords.$error.required">The 'Related Keywords' field is required</span>
                    <span class="help-block" ng-show="form.relatedKeywords.$error.maxlength">Related Keywords must be under 50 characters.</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="city">Target City</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" ng-model="formData.city" ng-maxlength="50" name="city" required />
            </div>
            <label class="col-sm-3 control-label" for="state">Target State</label>
            <div class="col-sm-2">
                <input class="form-control" type="text" ng-model="formData.state" ng-maxlength="50" name="state" required />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="brand">Brand</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="formData.brand" ng-maxlength="50" name="brand" required />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="industry">Industry</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="formData.industry" ng-maxlength="50" name="industry" required />
                <div ng-show="form.industry.$dirty && form.industry.$invalid">
                    <span class="help-block" ng-show="form.industry.$error.required">The 'Business Name' field is required</span>
                    <span class="help-block" ng-show="form.industry.$error.maxlength">First Name must be under 50 characters.</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="webAddress">URL (optional)</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="formData.webAddress" ng-maxlength="50" name="webAddress"  />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-sm btn-primary" ng-disabled="form.$invalid">Submit</button>
            </div>
        </div>
    </form>
</div>
<script>
    /**
     * Created by Roger Creasy on 4/27/2015
     * roger@rogercreasy.com
     * License: MIT
     * You are free to share, change, distribute this code
     * as long as this copyright info remains with the code
     * Copyright Roger Creasy 2015. 2016. 2017
     *
     * Changes/improvements can be submitted at https://github.com/RogerCreasy/marketingResearch
     * see additional license info at https://github.com/RogerCreasy/marketingResearch/blob/master/LICENSE
     */

    angular.module('formApp', [])
            .controller('MainController', function($scope) {

                $scope.formData = {};
                $scope.status = false;


                $scope.submit = function() {

                    //business name
                    var input = $scope.formData.bizName;
                    input = encodeURIComponent(input);
                    window.open("https://www.google.com/#q="+input);

                    //keyword
                    var keywords = $scope.formData.keywords;
                    keywords = encodeURIComponent(keywords);
                    window.open("https://www.google.com/#q="+keywords);

                    //industry
                    var industry = $scope.formData.industry;
                    industry = encodeURIComponent(industry);

                    //related keywords, keywords, and geo
                    var city = $scope.formData.city;
                    var state = $scope.formData.state;
                    var relatedKeywords = $scope.formData.relatedKeywords;
                    relatedKeywords = encodeURIComponent(relatedKeywords);
                    window.open("https://www.google.com/#q="+relatedKeywords);

                    window.open("https://www.google.com/#q="+keywords +' ' +city +' ' +state);

                    //Brand
                    if (typeof $scope.formData.brand !== 'undefined'){
                        var brand = $scope.formData.brand;
                        brand = encodeURIComponent(brand);
                        window.open("https://www.google.com/#q="+brand);
                    }

                    //URL Whois
                    if (typeof $scope.formData.webAddress !== 'undefined'){
                        var webAddress = $scope.formData.webAddress;
                        window.open(decodeURIComponent(webAddress));
                        webAddress = encodeURIComponent(webAddress);
                        window.open("http://www.whois.com/whois/"+webAddress);
                    }

                    window.open('http://www.yelp.com/search?find_desc='+input + '&find_loc=' +city + '%2C' +state + '&ns=1');
                    window.open('http://www.yelp.com/search?find_desc='+industry + '&find_loc=' +city + '%2C' +state + '&ns=1');

                    window.open("https://www.google.com/#q="+input + ' facebook');
                    window.open("https://twitter.com/search?q="+input);
                    window.open("https://www.google.com/#q="+input + ' site:linkedin.com');
                    window.open("https://www.youtube.com/results?search_query="+input);

                    //spyfu
                    plainURL = webAddress.replace("http%3A%2F%2Fwww.", "");
                    window.open("http://www.spyfu.com/overview/domain/"+plainURL);


                    //semrush

                    window.open("http://www.semrush.com/info/"+plainURL+"?db=us");
                }

            });
</script>
</body>
</html>